<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<!-- RSS Reference -->
<link href="/index.xml" rel="alternate" type="application/rss+xml" title="ObjShadow's Blog" />
<!-- Title -->
<script>
// Site name here
const MainTitle = "ObjShadow's Blog"
if (document.title != MainTitle) { document.title = [document.title,MainTitle].join(" - ") }
</script>