<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<!-- RSS Reference -->
<link href="/index.xml" rel="alternate" type="application/rss+xml" title="ObjShadow's Blog" />
{{ $showViewsCount := .Params.viewsCount | default (.Site.Params.article.viewsCount) }}
{{ if $showViewsCount }}
<!-- Views Count -->
<script>
addEventListener("DOMContentLoaded", () => {
    fetch(`/views?q=${encodeURI(window.location.pathname)}`, { method: 'POST' })
    .then((response) => response.json())
    .then((data) => {
        let node = document.querySelector('footer.site-footer > section.powerby')
        node.innerHTML = node.innerHTML.replace("NaN",Object.values(data).reduce((acr, cur) => {return acr + cur;}).toString())
        for (let element of document.getElementsByClassName("article-details")) {
            let pathname = element
            .querySelector('div.article-title-wrapper > h2.article-title > a').href
            .replace(window.location.origin,"");
            let child = element.querySelector('.article-time > div:last-child > time');
            child.innerText = child.innerText.replace("NaN",data[pathname]);
        }
    }).catch((err) => console.log(err));
});
</script>
{{ end }}