// Body Font Color
:root {
    --body-background: #EBEBEB;
    --accent-color: #1B365D;
    --accent-color-darker: #202A44;
    --accent-color-text: #FFF;
    --body-text-color: #202A44;
  }
  
  :root {
    --card-background: #FFF;
    --card-background-selected: #EBEBEB;
    --card-text-color-main: #202A44;
    --card-text-color-secondary: #53565A;
    --card-text-color-tertiary: #888B8D;
  }
// Links Double Coloum
@media (min-width: 1024px) {
    .article-list--compact.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        box-shadow: none;
        
        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 10px;
            &:nth-child(odd) {
                margin-right: 8px;
            }
        }
    }
  }
// ScrollTop
#scrollTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 30%; /* Rounded corners */
  padding: 0px 16px 12px 16px;
	color: #fff;
	white-space: pre-line;
	background: #2a2a2a;
}

#scrollTop:hover {
	color: #fff;
	background: #4d83af;
}
