// Body Font Color
:root {
    --body-background: #EBEBEB;
    --accent-color: #1B365D;
    --accent-color-darker: #202A44;
    --accent-color-text: #FFF;
    --body-text-color: #202A44;
  }
  
  :root {
    --card-background: #FFF;
    --card-background-selected: #EBEBEB;
    --card-text-color-main: #202A44;
    --card-text-color-secondary: #53565A;
    --card-text-color-tertiary: #888B8D;
  }
// Links Double Coloum
@media (min-width: 1024px) {
    .article-list--compact.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        box-shadow: none;
        
        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 10px;
            &:nth-child(odd) {
                margin-right: 8px;
            }
        }
    }
  }
// ScrollTop
#scrollTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30%;
  padding: 0px 16px 12px 16px;
	color: #fff;
	white-space: pre-line;
	background: #252525;
}

#scrollTop:hover {
	color: #fff;
	background: #4d83af;
  transition-duration: 0.4s;
}

@media (min-width: 1024px) {
  #scrollTop { display: block; }
}
