<script>
'use strict'
// Highlight
function getWindowScrollTop() {
    var scroll_top = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scroll_top = document.documentElement.scrollTop;
    } else if (document.body) {
      scroll_top = document.body.scrollTop;
    }
    return scroll_top;
}

function scrollToViewCenter(element) {
    var { top, height } = element.getBoundingClientRect();
    let elementCenter = top + height / 2;
    let center = window.innerHeight / 2;
    window.scrollTo({
      top: getWindowScrollTop() - (center - elementCenter),
      behavior: 'smooth'
    });
}

function highlight(element, color = "#8CC7B5") {
    element.style.color = color;
    element.style.fontWeight = "bold";
}

function unhighlight(element, color = "#8CC7B5") {
    element.style.removeProperty("color");
    element.style.fontWeight = "normal";
}

const params = new URLSearchParams(window.location.search);
const highlightElements = document.getElementsByClassName(params.get("highlight"));
if (highlightElements.length > 0) {
    for (let element of highlightElements) {
        highlight(element);
    }
    scrollToViewCenter(highlightElements.item(0));
    document.body.addEventListener("click", function() {
        for (let element of highlightElements) {
            unhighlight(element);
        }
        let newUrl = window.location.href.replace(new RegExp("\\??&?highlight=?1".replace("?1", params.get("highlight"))),"");
        window.history.replaceState('', '', newUrl);
    })
}

// ScrollTop
function smoothScrollTop(){
    let timer = null;
    cancelAnimationFrame(timer);
    var fn = function() {
        let currentHeight = document.body.scrollTop || document.documentElement.scrollTop;
        if (currentHeight > 0) {
            document.body.scrollTop = document.documentElement.scrollTop = currentHeight - 50;
            timer = requestAnimationFrame(fn);
        } else {
            cancelAnimationFrame(timer);
        }
    }
    timer = requestAnimationFrame(fn);
}

{{ $showViewsCount := .Params.viewsCount | default (.Site.Params.article.viewsCount) }}
{{ if $showViewsCount }}
// Views Count
window.onload = () => {
    fetch("/views?q="+encodeURI(window.location.pathname))
    .then((response) => { response.json() })
    .then((data) => {
        let node = document.querySelector('footer.site-footer > section.powerby')
        node.innerText = node.innerText.replace("NaN",Object.values(data).reduce((acr, cur) => {return acr + cur;}))
        for (let element of document.getElementsByClassName("article-details")) {
            let pathname = element
            .querySelector('div.article-title-wrapper > h2.article-title > a').href
            .replace(window.location.origin,"");
            console.log(pathname)
            let child = element.querySelector('.article-time > div:last-child > time')
            child.innerText = child.innerText.replace("NaN",data[pathname])
        }
    }
    )
}
{{ end }}
</script>