<div id="popup-container"></div>
<script>
'use strict'
// Text Highlight
function getWindowScrollTop() {
    var scroll_top = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scroll_top = document.documentElement.scrollTop;
    } else if (document.body) {
      scroll_top = document.body.scrollTop;
    }
    return scroll_top;
}

/**
 * Scroll specific HTMLElement to the center
 * @param {HTMLElement} element
 */
function scrollToViewCenter(element) {
    var { top, height } = element.getBoundingClientRect();
    let elementCenter = top + height / 2;
    let center = window.innerHeight / 2;
    window.scrollTo({
      top: getWindowScrollTop() - (center - elementCenter),
      behavior: 'smooth'
    });
}

function highlight(element, color = "#8CC7B5") {
    element.style.color = color;
    element.style.fontWeight = "bold";
}

function unhighlight(element, color = "#8CC7B5") {
    element.style.removeProperty("color");
    element.style.fontWeight = "normal";
}

let params = new URLSearchParams(window.location.search);
let highlightElements = document.getElementsByClassName(params.get("highlight"));
if (highlightElements.length > 0) {
    for (let element of highlightElements) {
        highlight(element);
        element.addEventListener("click", function() {
            for (let element of highlightElements) { unhighlight(element); }
        });
    }
    scrollToViewCenter(highlightElements.item(0));
    let newUrl = window.location.href.replace(new RegExp("\\??&?highlight=?1".replace("?1", params.get("highlight"))),"");
    window.history.replaceState('', '', newUrl);
}

// popup
function showPopup(content, interval) {
    let popupContainer = document.getElementById('popup-container');
    let popup = document.createElement('div');
    let closeBtn = document.createElement('button');
    let barContainer = document.createElement('div');
    let progressBar = document.createElement('div');
    barContainer.classList.add('bar-container');
    progressBar.classList.add('progress-bar');
    barContainer.appendChild(progressBar);
    closeBtn.innerHTML = '{{ $icon := resources.Get "icons/cross.svg" }}{{ $icon.Content | safeHTML }}';
    closeBtn.classList.add('closeBtn');
    closeBtn.type = "button";
    closeBtn.title = "close";
    closeBtn.addEventListener("click", () => {
        popup.classList.add('slide-out');
        popup.addEventListener('animationend', () => { popup.remove(); });
    });
    popup.classList.add('popup');
    popup.appendChild(barContainer);
    popup.appendChild(closeBtn);
    popup.appendChild(content);
    popupContainer.prepend(popup);

    popup.classList.add('slide-in');
    popup.addEventListener('animationend', () => {
        progressBar.style = `transition: transform ${interval}ms linear; transform: scaleX(1);`;
        popup.classList.add('bounce');
    });
    popup.addEventListener('animationend', () => {
        setTimeout(() => {
            popup.classList.add('slide-out');
            popup.addEventListener('animationend', () => { popup.remove(); });
        }, interval); 
    });
}

function isMirror(origin, interval) {
    if (window.location.hostname != origin) {
        let content = document.createElement('div');
        content.innerHTML = `
        <h3 class="title">
            {{ $icon := resources.Get "icons/bell.svg" }}
            {{ $icon.Content | safeHTML }}{{ T "popup.isMirror.title" }}
        </h3><p>{{ T "popup.isMirror.content.str0" }}
        {{ T "popup.isMirror.content.str1" }}<a class="link" href="https://${ origin }/">${ origin }</a>
        </p>`
        showPopup(content, interval)
    }
}

addEventListener('DOMContentLoaded', () => {
    let origin = "objshadow.is-a.dev";
    let isMirrorPopupShowTime = Number(localStorage.getItem("isMirrorPopupShowTime"));
    if (isMirrorPopupShowTime == 0 || isMirrorPopupShowTime == NaN || isMirrorPopupShowTime - Date.now() > 259200 ) {
        isMirror(origin, 4000);
        localStorage.setItem("isMirrorPopupShowTime", Date.now().toString());
    };
});
</script>
